table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 30px;
  text-align: center;
  margin: 20px;
}

tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  border-style: dotted;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  color: #041efc;
  border-style: dotted;
}
body {
  font-family: sans-serif;
}

.collapsible {
  background-color: rgb(86, 189, 182);
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: rgb(86, 189, 182);
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgb(86, 189, 182);
}

.subnav-content {
  display: none;
  left: 0;

  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
