.nav {
  position: fixed;
  width: 225px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.col-md-9 {
  box-sizing: border-box;
  float: right;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: right;
  width: 75%;
}
.col-md-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 25%;
}

body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 30px;
  text-align: center;
  margin: 20px;
}
body {
  font-family: sans-serif;
}
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  border-style: dotted;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  color: #041efc;
  border-style: dotted;
}

.collapsible {
  background-color: rgb(86, 189, 182);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;

  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: rgb(86, 189, 182);
}
